{include file="Base/header" /}
<body class="main_body">
<div class="layui-layout layui-layout-admin">
    <!-- 顶部 -->
    {include file="Base/top" /}
    <!-- 左侧导航 -->
    {include file="Base/left" /}

    <!-- 右侧内容 -->
    <!-- 右侧内容 -->
    <div class="layui-body layui-form">
        <div class="layui-tab marg0" lay-filter="bodyTab" id="top_tabs_box">
            <ul class="layui-tab-title top_tab" id="top_tabs">
                <li class="layui-this" lay-id=""><i class="iconfont icon-computer"></i> <cite>后台首页</cite></li>
            </ul>
            <div class="layui-tab-content clildFrame">
                <div class="layui-tab-item layui-show">
                    <div class="childrenBody">
                        <form class="layui-form">
                            <div class="layui-form-item">
                                <label class="layui-form-label">标题</label>
                                <div class="layui-input-block">
                                    <input type="text" class="layui-input newsName" lay-verify="title" placeholder="请输入文章标题">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">发布栏目</label>
                                    <div class="layui-input-inline">
                                        <select name="quiz1">
                                            <option value="">所属地区</option>
                                            <option value="浙江">浙江省</option>
                                            <option value="你的工号">江西省</option>
                                            <option value="你最喜欢的老师">福建省</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">所属地区</label>
                                    <div class="layui-input-inline">
                                        <select name="quiz1">
                                            <option value="">所属地区</option>
                                            <option value="浙江">浙江省</option>
                                            <option value="你的工号">江西省</option>
                                            <option value="你最喜欢的老师">福建省</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">有效期</label>
                                    <div class="layui-input-inline">
                                        <select name="quiz1">
                                            <option value="">有效期</option>
                                            <option value="浙江">浙江省</option>
                                            <option value="你的工号">江西省</option>
                                            <option value="你最喜欢的老师">福建省</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">日营业额</label>
                                    <div class="layui-input-inline">
                                        <select name="quiz1">
                                            <option value="">所属地区</option>
                                            <option value="浙江">浙江省</option>
                                            <option value="你的工号">江西省</option>
                                            <option value="你最喜欢的老师">福建省</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">月租金</label>
                                    <div class="layui-input-inline">
                                        <select name="quiz1">
                                            <option value="">所属地区</option>
                                            <option value="浙江">浙江省</option>
                                            <option value="你的工号">江西省</option>
                                            <option value="你最喜欢的老师">福建省</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">转让费</label>
                                    <div class="layui-input-inline">
                                        <select name="quiz1">
                                            <option value="">所属地区</option>
                                            <option value="浙江">浙江省</option>
                                            <option value="你的工号">江西省</option>
                                            <option value="你最喜欢的老师">福建省</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">装修情况</label>
                                    <div class="layui-input-inline">
                                        <select name="quiz1">
                                            <option value="">所属地区</option>
                                            <option value="浙江">浙江省</option>
                                            <option value="你的工号">江西省</option>
                                            <option value="你最喜欢的老师">福建省</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">水电费</label>
                                    <div class="layui-input-inline">
                                        <select name="quiz1">
                                            <option value="">所属地区</option>
                                            <option value="浙江">浙江省</option>
                                            <option value="你的工号">江西省</option>
                                            <option value="你最喜欢的老师">福建省</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">月薪</label>
                                    <div class="layui-input-inline">
                                        <select name="quiz1">
                                            <option value="">所属地区</option>
                                            <option value="浙江">浙江省</option>
                                            <option value="你的工号">江西省</option>
                                            <option value="你最喜欢的老师">福建省</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">性别</label>
                                    <div class="layui-input-inline">
                                        <select name="quiz1">
                                            <option value="">所属地区</option>
                                            <option value="浙江">浙江省</option>
                                            <option value="你的工号">江西省</option>
                                            <option value="你最喜欢的老师">福建省</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">工作经验</label>
                                    <div class="layui-input-inline">
                                        <select name="quiz1">
                                            <option value="">所属地区</option>
                                            <option value="浙江">浙江省</option>
                                            <option value="你的工号">江西省</option>
                                            <option value="你最喜欢的老师">福建省</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">技能</label>
                                    <div class="layui-input-inline">
                                        <select name="quiz1">
                                            <option value="">所属地区</option>
                                            <option value="浙江">浙江省</option>
                                            <option value="你的工号">江西省</option>
                                            <option value="你最喜欢的老师">福建省</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">工作时长</label>
                                    <div class="layui-input-inline">
                                        <select name="quiz1">
                                            <option value="">所属地区</option>
                                            <option value="浙江">浙江省</option>
                                            <option value="你的工号">江西省</option>
                                            <option value="你最喜欢的老师">福建省</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">年龄</label>
                                    <div class="layui-input-inline">
                                        <select name="quiz1">
                                            <option value="">所属地区</option>
                                            <option value="浙江">浙江省</option>
                                            <option value="你的工号">江西省</option>
                                            <option value="你最喜欢的老师">福建省</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">健康状况</label>
                                    <div class="layui-input-inline">
                                        <select name="quiz1">
                                            <option value="">所属地区</option>
                                            <option value="浙江">浙江省</option>
                                            <option value="你的工号">江西省</option>
                                            <option value="你最喜欢的老师">福建省</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">居住条件</label>
                                    <div class="layui-input-inline">
                                        <select name="quiz1">
                                            <option value="">所属地区</option>
                                            <option value="浙江">浙江省</option>
                                            <option value="你的工号">江西省</option>
                                            <option value="你最喜欢的老师">福建省</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">是否外卖</label>
                                    <div class="layui-input-inline">
                                        <select name="quiz1">
                                            <option value="">所属地区</option>
                                            <option value="浙江">浙江省</option>
                                            <option value="你的工号">江西省</option>
                                            <option value="你最喜欢的老师">福建省</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">开门时间</label>
                                    <div class="layui-input-inline">
                                        <select name="quiz1">
                                            <option value="">所属地区</option>
                                            <option value="浙江">浙江省</option>
                                            <option value="你的工号">江西省</option>
                                            <option value="你最喜欢的老师">福建省</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">打烊时间</label>
                                    <div class="layui-input-inline">
                                        <select name="quiz1">
                                            <option value="">所属地区</option>
                                            <option value="浙江">浙江省</option>
                                            <option value="你的工号">江西省</option>
                                            <option value="你最喜欢的老师">福建省</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">新旧程度</label>
                                    <div class="layui-input-inline">
                                        <select name="quiz1">
                                            <option value="">所属地区</option>
                                            <option value="浙江">浙江省</option>
                                            <option value="你的工号">江西省</option>
                                            <option value="你最喜欢的老师">福建省</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">是否送餐</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="wm" value="没有外卖" title="没有外卖" checked="">
                                    <input type="radio" name="wm" value="偶尔" title="偶尔">
                                    <input type="radio" name="wm" value="有送餐" title="有送餐">
                                </div>
                            </div>
                            <div class="layui-form-item" pane="">
                                <label class="layui-form-label">周边环境</label>
                                <div class="layui-input-block">
                                    <input type="checkbox" name="like1[write]" lay-skin="primary" title="写作" checked="">
                                    <input type="checkbox" name="like1[read]" lay-skin="primary" title="阅读">
                                    <input type="checkbox" name="like1[game]" lay-skin="primary" title="游戏" disabled="">
                                </div>
                            </div>
                            <div class="layui-form-item" pane="">
                                <label class="layui-form-label">店铺设施</label>
                                <div class="layui-input-block">
                                    <input type="checkbox" name="like1[write]" lay-skin="primary" title="写作" checked="">
                                    <input type="checkbox" name="like1[read]" lay-skin="primary" title="阅读">
                                    <input type="checkbox" name="like1[game]" lay-skin="primary" title="游戏" disabled="">
                                </div>
                            </div>
                            <div class="layui-form-item" pane="">
                                <label class="layui-form-label">所持证件</label>
                                <div class="layui-input-block">
                                    <input type="checkbox" name="like1[write]" lay-skin="primary" title="写作" checked="">
                                    <input type="checkbox" name="like1[read]" lay-skin="primary" title="阅读">
                                    <input type="checkbox" name="like1[game]" lay-skin="primary" title="游戏" disabled="">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">所属类别</label>
                                    <div class="layui-input-block">
                                        <input type="checkbox" name="tuijian" class="tuijian" title="置顶">
                                        <input type="checkbox" name="shenhe" class="newsStatus" title="套红">
                                        <input type="checkbox" name="show" class="isShow" title="加粗">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">发布人</label>
                                    <div class="layui-input-inline">
                                        <input type="text" class="layui-input newsAuthor" lay-verify="required" placeholder="请输入文章作者">
                                    </div>
                                </div>
                                <!--<div class="layui-inline">
                                    <label class="layui-form-label">发布时间</label>
                                    <div class="layui-input-inline">
                                        <input type="text" class="layui-input newsTime" lay-verify="date" onclick="layui.laydate({elem:this})">
                                    </div>
                                </div>-->
                                <div class="layui-inline">
                                    <label class="layui-form-label">浏览权限</label>
                                    <div class="layui-input-inline">
                                        <select name="browseLook" class="newsLook" lay-filter="browseLook">
                                            <option value="0">开放浏览</option>
                                            <option value="1">星级信息</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">联系人</label>
                                <div class="layui-input-block">
                                    <input type="text" class="layui-input" placeholder="请输入文章关键字">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">联系电话</label>
                                <div class="layui-input-block">
                                    <input type="text" class="layui-input" placeholder="请输入文章关键字">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">联系QQ</label>
                                <div class="layui-input-block">
                                    <input type="text" class="layui-input" placeholder="请输入文章关键字">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">电子邮箱</label>
                                <div class="layui-input-block">
                                    <input type="text" class="layui-input" placeholder="请输入文章关键字">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">店铺面积</label>
                                <div class="layui-input-block">
                                    <input type="text" class="layui-input" placeholder="请输入文章关键字">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">店铺地址</label>
                                <div class="layui-input-block">
                                    <input type="text" class="layui-input" placeholder="请输入文章关键字">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">上传图片</label>
                                <input type="file" name="file" class="layui-upload-file">
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">详细内容</label>
                                <div class="layui-input-block">
                                    <textarea class="layui-textarea layui-hide" name="content" lay-verify="content" id="LAY_demo_editor"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit="" lay-filter="addNews">立即提交</button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <div class="layui-footer footer">
        <p>copyright @2017</p>
    </div>
</div>


<!-- 移动导航 -->
<div class="site-tree-mobile layui-hide"><i class="layui-icon">&#xe602;</i></div>
<div class="site-mobile-shade"></div>

</body>
{include file="Base/footer" /}