<!-- 顶部 -->
<div class="layui-header header">
    <div class="layui-main">
        <a href="#" class="logo">layui后台管理</a>
        <!-- 显示/隐藏菜单 -->
        <a href="javascript:;" class="iconfont hideMenu icon-menu1"></a>
        <!-- 搜索 -->
        <div class="layui-form component">
            <select name="modules" lay-verify="required" lay-search="">
                <option value="">直接选择或搜索选择</option>
            </select>
            <i class="layui-icon">&#xe615;</i>
        </div>
        <!-- 顶部右侧菜单 -->
        <ul class="layui-nav top_menu">
            <li class="layui-nav-item showNotice" id="showNotice">
                <a href="javascript:;"><i class="iconfont icon-gonggao"></i><cite>系统公告</cite></a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://cdn2.image.apk.gfan.com/asdf/PImages/2015/7/16/ldpi_1021425_229413720-9d68-48b9-9959-d22bacb565a5.png" class="layui-circle" width="35" height="35">
                    <cite>{$Think.session.admin_sxxcpd_user}</cite>
                </a>
            </li>
            <li class="layui-nav-item">
                <a href="{:url('admin/admin/updateList')}/{$Think.session.admin_sxxcpd_id}" data-url=""><i class="iconfont icon-shezhi1" data-icon="icon-shezhi1"></i><cite>修改密码</cite></a>
            </li>
            <li class="layui-nav-item">
                <a href="{:url('admin/admin/logoutAdmin')}"><i class="iconfont icon-loginout"></i> 退出</a>
            </li>
        </ul>
    </div>
</div>