{include file="Base/header" /}
{include file="Base/imgupload" /}
<body class="main_body">
<div class="layui-layout layui-layout-admin">
    <!-- 顶部 -->
    {include file="Base/top" /}
    <!-- 左侧导航 -->
    {include file="Base/left" /}

    <!-- 右侧内容 -->
    <!-- 右侧内容 -->
    <div class="layui-body layui-form">
        <div class="layui-tab marg0" lay-filter="bodyTab" id="top_tabs_box">
            <ul class="layui-tab-title top_tab" id="top_tabs">
                <li class="layui-this" lay-id=""><i class="iconfont icon-computer"></i> <cite>用户详细信息</cite></li>
            </ul>
            <div class="layui-tab-content clildFrame">
                <div class="layui-tab-item layui-show">
                    <div class="childrenBody">
                        <blockquote class="layui-elem-quote">友情提示：不是特别情况请不要修改用户信息</blockquote>
                        <form class="layui-form" action="">
                            <input type="text" name="user_id" value="{$result.id}" style="display: none">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">会员等级</label>
                                    <div class="layui-input-inline">
                                        <select name="level" class="">
                                            <option value="8" {if condition="$result.level == 8"} selected="selected"{/if}>普通用户</option>
                                            <option value="16" {if condition="$result.level == 16"} selected="selected"{/if}>普通会员</option>
                                            <option value="32" {if condition="$result.level == 32"} selected="selected"{/if}>高级会员</option>
                                            <option value="64" {if condition="$result.level == 64"} selected="selected"{/if}>超级会员</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">id</label>
                                    <div class="layui-input-inline">
                                        <input class="layui-input" value="{$result.id}" name="" disabled="disabled">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">openid</label>
                                    <div class="layui-input-inline">
                                        <input class="layui-input" value="{$result.openid}" name="" disabled="disabled">
                                    </div>
                                </div>

                                <div class="layui-inline">
                                    <label class="layui-form-label">称呼</label>
                                    <div class="layui-input-inline">
                                        <input class="layui-input" value="{$result.username}" name="username">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">手机号</label>
                                    <div class="layui-input-inline">
                                        <input class="layui-input" value="{$result.phone}" name="phone">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">微信号</label>
                                    <div class="layui-input-inline">
                                        <input class="layui-input" value="{$result.weixin}" name="weixin">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">qq</label>
                                    <div class="layui-input-inline">
                                        <input class="layui-input" value="{$result.qq}" name="qq">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">现有金币</label>
                                    <div class="layui-input-inline">
                                        <input class="layui-input" value="{$result.gold_coin}" name="" disabled="disabled">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">增加金币</label>
                                    <div class="layui-input-inline">
                                        <input class="layui-input" value="" name="add_gold_coin">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">真实姓名</label>
                                    <div class="layui-input-inline">
                                        <input class="layui-input" value="{$result.real_name}" name="real_name">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">身份证号</label>
                                    <div class="layui-input-inline">
                                        <input class="layui-input" value="{$result.id_card}" name="id_card">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">创建时间</label>
                                    <div class="layui-input-inline">
                                        <input class="layui-input" value="{$result.create_time|date='Y-m-d H:i:s',###}"
                                               name="" disabled="disabled">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">更新时间</label>
                                    <div class="layui-input-inline">
                                        <input class="layui-input" value="{$result.update_time|date='Y-m-d H:i:s',###}"
                                               name="" disabled="disabled">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit="" lay-filter="updateBtn">更新</button>
                                    <button type="back" class="layui-btn layui-btn-primary"
                                            onclick="javascript:history.go(-1);">取消
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <div class="layui-footer footer">
        <p>copyright @2017</p>
    </div>
</div>


<!-- 移动导航 -->
<div class="site-tree-mobile layui-hide"><i class="layui-icon">&#xe602;</i></div>
<div class="site-mobile-shade"></div>

</body>


<script>
    $(function () {
        //提交表单
        layui.use(['layer', 'form', 'laydate'], function () {
            var layer = layui.layer
                , form = layui.form()
                , laydate = layui.laydate();
            form.on("submit(updateBtn)", function (data) {
                console.log(JSON.stringify(data.field));
                var ajData = data.field;
                var updateUser = "{:url('admin/User/updateUser')}";
                $.ajax({
                    type: 'POST',
                    url: updateUser,
                    data: ajData,
                    success: function (res) {
                        var data = $.parseJSON(res);

                        //询问框
                        layer.confirm('操作成功', {
                            btn: ['确定'] //按钮
                        }, function () {
                            window.location.href = "{:url('admin/user/user')}";
                        });

                        console.log(res);
                    },
                    error: function (res) {
                        var data = $.parseJSON(res.responseText);
//                        console.log(data.msg);
                        layer.confirm(data.msg, {
                            btn: ['确定'] //按钮
                        }, function () {
                            layer.alert('跳转到充值界面');
                        });

                    },
                    dataType: 'json'
                });
                return false;

            });
        });


    });
    //获取checkbox的值
    function getCheckBox(ele) {
        var box_array = new Array();
        $("input[name='" + ele + "']:checked").each(function () {
            box_array.push($(this).val());//向数组中添加元素
        });
        var box_str = box_array.join(',');//将数组元素连接起来以构建一个字符串
//        console.log(idstr);
        return box_str;
    }

</script>