{include file="Base/header" /}
<body class="main_body">
<div class="layui-layout layui-layout-admin">
    <!-- 顶部 -->
    {include file="Base/top" /}
    <!-- 左侧导航 -->
    {include file="Base/left" /}
    <!-- 右侧内容 -->
    <div class="layui-body layui-form">
        <div class="layui-tab marg0" lay-filter="bodyTab" id="top_tabs_box">
            <ul class="layui-tab-title top_tab" id="top_tabs">
                <li class="layui-this" lay-id=""><i class="iconfont icon-computer"></i> <cite id="switch_left">评论列表查询</cite></li>
            </ul>
            <div class="layui-tab-content clildFrame">
                <div class="layui-tab-item layui-show">
                    <div class="childrenBody">
                        <!--内容主体-->
                        <blockquote class="layui-elem-quote news_search">
                            <div class="layui-inline">
                                <form action="{:url('admin/Comment/searchComment')}" method="post">
                                    <div class="layui-input-inline">
                                        <input type="text" value="" placeholder="请输入关键字" class="layui-input search_input" name="content">
                                    </div>
                                    <button type="submit" class="layui-btn search_btn">查询</button>
                                </form>
                            </div>
                            <!--<div class="layui-inline">-->
                                <!--<a class="layui-btn layui-btn-normal" href="{:url('admin/info/addNews')}">发布消息</a>-->
                            <!--</div>-->
                            <!--<div class="layui-inline">-->
                            <!--<a class="layui-btn recommend" style="background-color:#5FB878">推荐文章</a>-->
                            <!--</div>-->
                            <!--<div class="layui-inline">-->
                            <!--<a class="layui-btn audit_btn">审核文章</a>-->
                            <!--</div>-->
                            <!--<div class="layui-inline">-->
                            <!--<a class="layui-btn layui-btn-danger batchDel">批量删除</a>-->
                            <!--</div>-->
                            <!--<div class="layui-inline">-->
                            <!--<div class="layui-form-mid layui-word-aux">本页面刷新后除新添加的文章外所有操作无效，关闭页面所有数据重置</div>-->
                            <!--</div>-->
                        </blockquote>
                        <div class="layui-form news_list">
                            <table class="layui-table">
                                <colgroup>
                                    <col width="50">
                                    <col>
                                    <col width="9%">
                                    <col width="9%">
                                    <col width="9%">
                                    <col width="9%">
                                    <col width="12%">
                                    <col width="24%">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose" id="allChoose">
                                        <div class="layui-unselect layui-form-checkbox" lay-skin="primary"><i
                                                class="layui-icon"></i></div>
                                    </th>
                                    <th style="text-align:left;">评论内容</th>
                                    <th>信息详情</th>
                                    <th>评论人</th>
                                    <th>状态</th>
                                    <th>评论人ip</th>
                                    <th>评论时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody class="news_content">
                                {volist name="$result" id="vo"}
                                <tr>
                                    <td><input type="checkbox" name="checked" lay-skin="primary" lay-filter="choose">
                                        <div class="layui-unselect layui-form-checkbox" lay-skin="primary"><i
                                                class="layui-icon"></i></div>
                                    </td>
                                    <td align="left"><a href="{:url('admin/user/detail')}/{$vo.ruid}" class="a_color">{$vo.runame? '回复@'.$vo.runame.' ' : ''}</a><a href="" class="a_color">{$vo.content}</a></td>
                                    <td>
                                        <a href="{:url('admin/info/detail')}/{$vo.id}" class="a_color">{$vo.title}</a>
                                    </td>
                                    <td>
                                        <a href="{:url('admin/user/detail')}/{$vo.uid}" class="a_color">{$vo.uname}</a>
                                    </td>
                                    <td>
                                        <input type="checkbox" data-comment_id="{$vo.id}" data-comment_status="{$vo.status}" {if condition="$vo.status ==1"}checked=""{/if} name="open" lay-skin="switch" lay-filter="switchStatus" lay-text="通过|待审">
                                    </td>
                                    <td>
                                        {$vo.ip}
                                    </td>
                                    <td>
                                        {$vo.update_time|date='Y-m-d H:i:s',###}
                                    </td>
                                    <td>
                                        <a class="layui-btn layui-btn-mini" href="{:url('admin/User/detail')}/{$vo.id}"><i class="iconfont icon-edit"></i> 编辑</a>
                                        <button class="layui-btn layui-btn-danger layui-btn-mini del" data-comment_id="{$vo.id}"><i
                                                class="layui-icon"></i>删除
                                        </button>
                                    </td>
                                </tr>
                                {/volist}
                                </tbody>
                            </table>
                        </div>
                        <div id="page">
                            <div class="layui-box layui-laypage layui-laypage-default">
                                {$page}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- 底部 -->
    <div class="layui-footer footer">
        <p>copyright @2017</p>
    </div>
</div>


<!-- 移动导航 -->
<div class="site-tree-mobile layui-hide"><i class="layui-icon">&#xe602;</i></div>
<div class="site-mobile-shade"></div>

</body>
{include file="Base/footer" /}
<script>
    function ajaxDel(comment_id,comment_status) {
        var url = "{:url('admin/Comment/updateStatus')}",
            data = {
                "comment_status":comment_status,
                "comment_id":comment_id
            };
        $.ajax({
            type: 'POST',
            url: url,
            data: data,
            success: function(res){
                var data = $.parseJSON(res);
                if(data.code == 1){
                    //询问框
                    layer.confirm(data.msg, {
                        btn: ['确定'] //按钮
                    }, function(){
                        window.location.href = "";
                    });

                }else{
                    //询问框
                    layer.confirm(data.msg, {
                        btn: ['确定'] //按钮
                    }, function(){
                        layer.msg('没有删除成功');
                    });
                }
                console.log(res);
            },
            error:function (res) {
                var data = $.parseJSON(res.responseText);
                layer.confirm(data.msg, {
                    btn: ['确定'] //按钮
                }, function(){
                    window.location.href = "{:url('admin/user/user')}";
                });

            },
            dataType: 'json'
        });
    }
    function ajaxStatus(comment_id,comment_status) {
        var url = "{:url('admin/Comment/updateStatus')}",
            data = {
                "comment_status":comment_status,
                "comment_id":comment_id
            };
        $.ajax({
            type: 'POST',
            url: url,
            data: data,
            success: function(res){
                var data = $.parseJSON(res);
                if(data.code == 1){
                    //询问框
//                    layer.confirm(data.msg, {
//                        btn: ['确定'] //按钮
//                    }, function(){
//                        window.location.href = "";
//                    });
                    layer.alert(data.msg);
                }else{
                    //询问框
                    layer.confirm(data.msg, {
                        btn: ['确定'] //按钮
                    }, function(){
                        layer.msg('没有删除成功');
                    });
                }
                console.log(res);
            },
            error:function (res) {
                var data = $.parseJSON(res.responseText);
                layer.confirm(data.msg, {
                    btn: ['确定'] //按钮
                }, function(){
                    window.location.href = "";
                });

            },
            dataType: 'json'
        });
    }
    $(function () {
        layui.use(['layer','form'], function(){
            var layer = layui.layer,
                form = layui.form();
            $('.del').click(function () {
                var that = $(this);
                layer.confirm('是否删除', {
                    btn: ['确定', '取消'] //可以无限个按钮
                }, function(index, layero){
                    //按钮【按钮一】的回调
                    var comment_id  = that.data("comment_id");
                    var comment_status = 0;
                    ajaxDel(comment_id,comment_status);
                }, function(index){
                    //按钮【按钮二】的回调
                });

            });
            //监听指定开关
            form.on('switch(switchStatus)', function(data){
                var comment_id  = $(data.elem).data("comment_id");
                var comment_status = $(data.elem).data("comment_status") == 1? 2 : 1;
                ajaxStatus(comment_id,comment_status);
            });
        });
    });
</script>